div#header {background-color: #99bbbb;text-align:center;}
div#footer {background-color: #FFFF99; clear:both; text-align:left; font-size:20px; color:#000000;}
body,div,ul,ol,li,p {margin:0;padding:0;}
body {font:normal 12px/20px Arial,\5B8B\4F53; color:#daac79; background: url(../images/bg.jpg);}
a{color:#bf966a;text-decoration:none;}
ol,ul {list-style:none;}
img{display:block;}
h1 {margin-bottom:0;font-size:25pt; color:#FF0000}
ul {margin:0;}
.focus{width:1000px; height:730px;margin:0 auto;}
.focusbox{background-color:#1C1C1C; position:relative;}
.focusimg{border:5px solid #2F2F2F; width:980px; height:600px; position:relative; overflow:hidden;}
.fimglist{width:99300px; position:relative;}
.fimglist img{display:block; width:980px; height:600px; cursor:pointer;}
.fimglist li{width:990px; height:376px; float:left;transform-origin:50% 100%;}
.fimglist li.onpre{opacity:0;}
.focustool{width:935px; overflow:hidden; padding:5px 0 10px; margin:0 auto; position:relative;}
.ftoollist{width:4655px; position:relative;}
.ftoollist img{display:block; width:129px; height:69px; margin-bottom:3px;}
.ftoollist a{background-color:#1C1C1C; display:block; width:129px; padding:4px 0 4px 4px; position:relative;}
.ftoollist li{float:left; cursor:pointer; transition:all .3s linear;}
.ftoollist .imgname{line-height:25px; text-align:center; color:#FFF; font-family:\5FAE\8F6F\96C5\9ED1; font-weight:400; font-size:18px; height:25px; overflow:hidden; cursor:pointer;}
.ftoollist .imgshortcat{line-height:20px; text-align:center; color:#7D7D7D; font-size:12px; height:20px; overflow:hidden; cursor:pointer;}
.ftoollist a:hover{background-color:#503769; padding:4px; margin-right:-4px; z-index:100; top:-5px;}
.ftoollist a:hover .imgname{color:#DBC98C;}
.ftoollist a:hover .imgshortcat{color:#FFF;}
.ftoollist .on a{background-color:#503769; padding:4px; margin-right:-4px; z-index:100; top:-5px;}
.ftoollist .on .imgname{color:#DBC98C;}
.ftoollist .on .imgshortcat{color:#FFF;}